body {
    margin: 0;
    padding: 0;
    background-color: var(--kolorTla);
    font-family: 'Segoe UI';
}

h1 {
    color: var(--kolorTekstu);
    font-size: 3vh;
}

h2 {
    color: var(--kolorTekstu);
    font-size: 3vh;
}

#hasloPrzewodnie * {
    color: var(--kolorTekstuCiemniejszy);
}

:root {
    --kolorTla: #130208;
    --kolorTlaJasniejszy: #460e2b;
    --kolorBorderow: #7c183c;
    --kolorTekstu: #ff8274;
    --kolorTekstuCiemniejszy: #d53c6a;
}

.flexPoziom,
.flexPion {
    display: flex;
    align-items: center;
}

.flexPoziom {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.bladChaty {
    line-height: 8vh;
    padding: 1vh;
    width: auto;
    background-color: var(--kolorTlaJasniejszy);
    border-radius: 2vh;
    color: var(--kolorTekstu);
    text-align: center;
    font-family: 'Segoe UI';
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    display: none;
}

.flexPion {
    flex-direction: column;
    height: auto;
}

#copyright {
    position: absolute;
    bottom: 2vh;
    left: 5vh;
    color: var(--kolorTekstu);
}

.zleDaneKomunikat {
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
    display: none;
}

#logo {
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 10vh;
    width: 10vh;

    background-color: var(--kolorTla);
    /* tło dla zaokrąglenia */
    background-image: url("/images/logo.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 100%;
    /* zaokrąglenie rogów */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#logo:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
    /* opcjonalny efekt świecenia */
}



/*
#logo{
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 10vh;
    width: 10vh;
    background-image: url("/images/logo.svg");
    background-size: cover;

    cursor: pointer;
    transition: background-color 0.3s ease;
}
*/
#logo:hover {
    background-color: var(--kolorTlaJasniejszy);
}

.tekstPodstron {
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 2vh;
}

#zdjeciePoczatkowe {
    display: flex;
    height: 60vh;
    width: 60vh;
    background-image: url("/images/obrazek na srodek.svg");
    background-size: cover;
    border-radius: 2vh;
}

#polePisania {
    background-color: var(--kolorBorderow);
    height: 3vh;
    width: 85%;
    border-radius: 3vh;
    border: none;
    color: var(--kolorTekstu);
    font-size: 2vh;
}

#polePisania:focus {
    outline: 0.2vh solid var(--kolorTekstuCiemniejszy);
}

#polePisania::placeholder {
    color: var(--kolorTekstuCiemniejszy);
}


#wyslij {
    background-color: transparent;
    height: 5vh;
    width: 5vh;
    margin: 2vh;
    border-radius: 100%;
    background-image: url(/images/przycisk\ wysylania\ wiadomosci.svg);
    background-size: cover;
    border: none;
}

#niechemisie {
    height: 13vh;
    width: 100%;
}

.osoby {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.okienkoOsoby,
.okienkoOsoby2 {
    justify-content: left;
    height: 8vh;
    width: 100%;
    background-color: var(--kolorBorderow);
    margin: 1vh;
    border-radius: 2vh;
}

.okienkoOsoby2 {
    background-color: #4d1026;
}

.profilowePasekBoczny {
    height: 6vh;
    width: 6vh;
    border-radius: 6vh;
    margin: 2vh;
}



.nazwaUzytkownikaPaskeBoczny {
    color: var(--kolorTekstu);
    font-size: 3vh;
    font-family: 'Segoe UI';
}

#ustawieniaPasekBoczny,
#wyloguj,
#wylogujZeWyszystkichUrzadzen,
#usunKonto {
    height: 5vh;
    width: 15vh;
    background-color: var(--kolorBorderow);
    border: 0.3vh solid var(--kolorTekstuCiemniejszy);
    border-radius: 1vh;
    color: var(--kolorTekstu);
    margin: 2vh;
    font-size: 2.5vh;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#ustawieniaPasekBoczny:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
}

#wyloguj:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
}

.wyborUstawienia {
    width: 20vh;
    background-color: var(--kolorBorderow);
    border: var(--kolorTekstuCiemniejszy) 0.5vh solid;
    color: #ff8274;
    margin: 2vh;
    border-radius: 2vh;
    line-height: 3.5vh;
    font-size: 2vh;
}

#wyszukajOsobe {
    position: absolute;
    /*przepraszam, próbowałem po dobroci. ja wiem, że to herezja, ale jak ktoś umie inaczej, to proszę bardzo ja mam dość*/
    top: 13vh;
    height: 2vh;
    width: 30vh;
    background-color: var(--kolorBorderow);
    border: none;
    border-radius: 1vh;
    color: var(--kolorTekstu);
}

#wyszukajOsobe:focus {
    outline: 0.2vh solid var(--kolorTekstuCiemniejszy);
}

#wyszukajOsobe::placeholder {
    color: var(--kolorTekstuCiemniejszy);
}


#ekranLogowania,
#ekranRejestracji,
#ekranZmianyHasla,
#ekranUsuwania {
    background-color: var(--kolorTlaJasniejszy);
    height: auto;
    width: 40vh;
    border-style: solid;
    border-width: 0.5vh;
    border-color: var(--kolorBorderow);
    border-radius: 2vh;
}

#ekranUsuwania {
    display: none;
}

.inputEkranLogowania {
    height: 3vh;
    width: 30vh;
    margin: 0.5vh;
    background-color: #1f0510;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    caret-color: #1f0510;
    font-size: 1.5vh;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.inputEkranLogowania::placeholder {
    color: var(--kolorTekstu);
}

.inputEkranLogowania:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
}

.buttonEkranLogowania {
    height: 3vh;
    width: 15vh;
    margin: 0.5vh;
    background-color: #1f0510;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    font-size: 1.5vh;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttonEkranLogowania:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
}

.buttonEkranLogowaniaTransparent {
    position: relative;
    background-color: transparent;
    bottom: 0%;
    border: none;
    color: var(--kolorTekstu);
    margin: 2vh;
    font-size: 1.3vh;
}

.buttonEkranLogowaniaTransparent:hover,
.buttonEkranLogowania:hover {
    color: var(--kolorTekstu);
}



#pasekBoczny {
    height: 95vh;
    width: 25vw;
    background-color: #1f0510;
    border-radius: 1vh;
    margin-left: 1.5vw;
}


#czat,
#ustawienia,
#pusto {
    height: 95vh;
    width: 70vw;
    background-color: #1f0510;
    border-radius: 1vh;
    margin: 1.5vw;
}

#ustawienia,
#pusto {
    display: none;
}

#ustawienia h1,
#ustawienia h2 {
    width: 100%;
    text-align: center;
}

.profiloweCzat {
    border-radius: 100%;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
}

.nazwaUzytkownikaCzat {
    color: var(--kolorTekstu);
    font-size: 3vh;
    margin: 1vh;
}

.ustawieniaCzat {
    position: absolute;
    right: 5vh;
    height: 5vh;
    width: 5vh;
    border-radius: 0.5vh;
    background-image: url("/images/ustawiena.svg");
    background-size: cover;
    border: none;
    background-color: transparent;
}

#wiadomosci {
    height: 85vh;
    width: 100%;
    overflow-y: auto;
}

#daneZdjecieUstawienia {
    height: 10vh;
    width: 100%;
}

#wiadomoscPisana {
    height: 5vh;
    width: 100%;
}

.przyciskiPomociczePrzyLogowaniu {
    margin-top: auto;
}

.polaZLabelami {
    display: flex;
    flex-direction: column;
}

.labelPrzyLogowaniu {
    translate: 1vh;
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.7vh;
}


.dymek {
    background-color: var(--kolorBorderow);
    color: var(--kolorTekstu);
    border-radius: 2vh;
    padding: 1vh;
    font-size: 2.5vh;
    height: auto;
    min-height: 3vh;
    text-wrap: wrap;
    word-wrap: break-word;
    width: calc(100% - 5vh);
    min-width: 3.5vh;
}

.wiadomoscKontenerMoj,
.wiadomoscKontenerZnajomego {
    display: flex;
    flex-direction: row;
    margin: 2vh;
    height: fit-content;
    min-height: 3vh;
    width: fit-content;
    max-width: 70%;
}

.wiadomoscKontenerMoj {
    margin-left: auto;
}

.usunWiadomosc {
    height: 2.5vh;
    width: 2.5vh;
    margin: 1vh;
    background-image: url("/images/usun.svg");
    background-size: cover;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--kolorTlaJasniejszy);
    border-radius: 0.5vh;
}

::-webkit-scrollbar-thumb {
    background: var(--kolorBorderow);
    border-radius: 0.5vh;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--kolorTekstuCiemniejszy);
}

/*
#ekran_główny{
    display: flex;
    justify-content: center;
    border: 30px solid black;
    margin: 10px;
    width: 96vw;
    height: 93vh;
}
#lista_ludzi{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    height: 92vh;
    width: 23vw;
}
    */