:root {
    --kolorTla: #130208;
    --kolorTlaJasniejszy: #460e2b;
    --kolorBorderow: #7c183c;
    --kolorTekstu: #ff8274;
    --kolorTekstuCiemniejszy: #d53c6a;
    --kolorNawigacji: #5b1d3f;
    --fontFamily: 'Segoe UI';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--kolorTla);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 12vh;
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    gap: 10vw; /* odstęp między elementami */
    padding: 0;
    margin: 0;
    list-style: none; /* usuwa kropki */
}

nav ul li a{
    background-color: transparent;
    color: var(--kolorTekstu);
    font-size: large;
    font-family: var(--fontFamily);
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--kolorTekstuCiemniejszy);
}

#logo {
    height: 10vh;
    width: 10vh;
    margin: 1vh;

    background-color: var(--kolorTla);
    /* tło dla zaokrąglenia */
    background-image: url("/images/logo.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 100%;
    /* zaokrąglenie rogów */
    cursor: pointer;
    transition: background-color 0s ease, box-shadow 0s ease;
}

#logo:hover {
    background-color: var(--kolorTlaJasniejszy);
    box-shadow: 0 0 10px rgba(255, 130, 116, 0.4);
    /* opcjonalny efekt świecenia */
}

/*
.flexPion {
    flex-direction: column;
    height: auto;
}

.flexPoziom {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}
*/

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
    align-items: center;
}

main section{
    display: flex;
    flex-direction: column;
}

main section section{
    margin-right: 10vh;
}

/* a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #007acc;
} */

/* h1 {
    color: var(--kolorTekstu);
    font-size: 3vh;
}

h2 {
    color: var(--kolorTekstu);
    font-size: 3vh;
} */

#hasloPrzewodnie * {
    color: var(--kolorTekstuCiemniejszy);
}

.flexPoziom,
.flexPion {
    display: flex;
    align-items: center;
}

.flexPion {
    flex-direction: column;
    height: auto;
}

.flexPoziom {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.bladChaty{
    line-height: 8vh;
    padding: 1vh;
    width: auto;
    background-color: var(--kolorTlaJasniejszy);
    border-radius: 2vh;
    color: var(--kolorTekstu);
    text-align: center;
    font-family: 'Segoe UI';
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    display: none;
}



#copyright {
    position: absolute;
    bottom: 2vh;
    left: 5vh;
    color: var(--kolorTekstu);
}

.zleDaneKomunikat {
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
    display: none;
}

.tekstPodstron{
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 2vh;
}

#zdjeciePoczatkowe {
    display: flex;
    height: 60vh;
    width: 60vh;
    background-image: url("/images/obrazek na srodek.svg");
    background-size: cover;
    border-radius: 2vh;
}

#polePisania {
    background-color: var(--kolorBorderow);
    height: 3vh;
    width: 85%;
    border-radius: 3vh;
    border: none;
    color: var(--kolorTekstu);
    font-size: 2vh;
}

#polePisania:focus {
    outline: 0.2vh solid var(--kolorTekstuCiemniejszy);
}

#polePisania::placeholder {
    color: var(--kolorTekstuCiemniejszy);
}

#wyslij {
    background-color: transparent;
    height: 5vh;
    width: 5vh;
    margin: 2vh;
    border-radius: 100%;
    background-image: url(/images/przycisk\ wysylania\ wiadomosci.svg);
    background-size: cover;
    border: none;
}

#niechemisie {
    height: 13vh;
    width: 100%;
}

.osoby {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.okienkoOsoby,
.okienkoOsoby2 {
    justify-content: left;
    height: 8vh;
    width: 100%;
    background-color: var(--kolorBorderow);
    margin: 1vh;
    border-radius: 2vh;
}

.okienkoOsoby2 {
    background-color: #4d1026;
}

.profilowePasekBoczny {
    height: 6vh;
    width: 6vh;
    border-radius: 6vh;
    margin: 2vh;
}

.nazwaUzytkownikaPaskeBoczny {
    color: var(--kolorTekstu);
    font-size: 3vh;
    font-family: 'Segoe UI';
}

#ustawieniaPasekBoczny,
#wyloguj {
    height: 5vh;
    width: 15vh;
    background-color: var(--kolorBorderow);
    border: 0.3vh solid var(--kolorTekstuCiemniejszy);
    border-radius: 1vh;
    color: var(--kolorTekstu);
    margin: 2vh;
    font-size: 2.5vh;
}

#wyszukajOsobe {
    position: absolute;
    /*przepraszam, próbowałem po dobroci. ja wiem, że to herezja, ale jak ktoś umie inaczej, to proszę bardzo ja mam dość*/
    top: 13vh;
    height: 2vh;
    width: 30vh;
    background-color: var(--kolorBorderow);
    border: none;
    border-radius: 1vh;
    color: var(--kolorTekstu);
}

#wyszukajOsobe:focus {
    outline: 0.2vh solid var(--kolorTekstuCiemniejszy);
}

#wyszukajOsobe::placeholder {
    color: var(--kolorTekstuCiemniejszy);
}


#ekranLogowania,
#ekranRejestracji,
#ekranZmianyHasla {
    background-color: var(--kolorTlaJasniejszy);
    height: auto;
    width: 40vh;
    border-style: solid;
    border-width: 0.5vh;
    border-color: var(--kolorBorderow);
    border-radius: 2vh;
}

.inputEkranLogowania {
    height: 3vh;
    width: 30vh;
    margin: 0.5vh;
    background-color: #1f0510;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    font-size: 1.5vh;
}

.inputEkranLogowania::placeholder {
    color: var(--kolorTekstu);
}

.buttonEkranLogowania {
    height: 3vh;
    width: 15vh;
    margin: 0.5vh;
    background-color: #1f0510;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    font-size: 1.5vh;
}

#pasekBoczny {
    height: 95vh;
    width: 25vw;
    background-color: #1f0510;
    border-radius: 1vh;
    margin-left: 1.5vw;
}


#czat,
#ustawienia,
#pusto {
    height: 95vh;
    width: 70vw;
    background-color: #1f0510;
    border-radius: 1vh;
    margin: 1.5vw;
}
#ustawienia,
#pusto {
    display: none;
}

.profiloweCzat {
    border-radius: 100%;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
}

.nazwaUzytkownikaCzat {
    color: var(--kolorTekstu);
    font-size: 3vh;
    margin: 1vh;
}

.ustawieniaCzat {
    position: absolute;
    right: 5vh;
    height: 5vh;
    width: 5vh;
    border-radius: 0.5vh;
    background-image: url("/images/ustawiena.svg");
    background-size: cover;
    border: none;
    background-color: transparent;
}

#wiadomosci {
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
}

#daneZdjecieUstawienia {
    height: 10vh;
    width: 100%;
}

#wiadomoscPisana {
    height: 5vh;
    width: 100%;
}

.przyciskiPomociczePrzyLogowaniu {
    margin-top: auto;
}

.polaZLabelami {
    display: flex;
    flex-direction: column;
}

.labelPrzyLogowaniu {
    translate: 1vh;
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.7vh;
}

.dymekZnajomego,
.dymekMoj {
    background-color: var(--kolorBorderow);
    color: var(--kolorTekstu);
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: 2.5vh;
    margin: 2vh;
    height: auto;
    min-height: 3vh;
    text-wrap: wrap;
    word-wrap: break-word;
    width: fit-content;
    max-width: 60%;

}

.dymekMoj {
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--kolorTlaJasniejszy);
    border-radius: 0.5vh;
}

::-webkit-scrollbar-thumb {
    background: var(--kolorBorderow);
    border-radius: 0.5vh;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--kolorTekstuCiemniejszy);
}

/*
#ekran_główny{
    display: flex;
    justify-content: center;
    border: 30px solid black;
    margin: 10px;
    width: 96vw;
    height: 93vh;
}
#lista_ludzi{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    height: 92vh;
    width: 23vw;
}
    */