body {
    margin: 0;
    padding: 0;
    background-color: var(--kolorTla);
}

h1 {
    color: var(--kolorTekstu);
    font-size: 3vh;
}

#hasloPrzewodnie *{
    color: var(--kolorTekstuCiemniejszy);
}

:root {
  --kolorTla: #130208;
  --kolorTlaJasniejszy: #460e2b;
  --kolorBorderow: #7c183c;
  --kolorTekstu: #ff8274;
  --kolorTekstuCiemniejszy: #d53c6a;
}



.flexPoziom,
.flexPion {
    display: flex;
    align-items: center;
}

.flexPoziom {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.flexPion {
    flex-direction: column;
    height: auto;
}

#copyright{
    position: absolute;
    bottom: 2vh;
    left: 5vh;
    color:var(--kolorTekstu);
}

.zleDaneKomunikat{
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
    display: none;
}

#logo{
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 10vh;
    width: 10vh;
    background-image: url("placeholder.png");
    background-size: cover;
}

#zdjeciePoczatkowe{
    display: flex;
    height: 60vh;
    width: 60vh;
    background-image: url("placeholder.png");
    background-size: cover;
    border-radius: 2vh;
}


#ekranLogowania,
#ekranRejestracji,
#ekranZmianyHasla {
    background-color: var(--kolorTlaJasniejszy);
    height: 43vh;
    width: 40vh;
    border-style: solid;
    border-width: 0.5vh;
    border-color: var(--kolorBorderow);
    border-radius: 2vh;
}

.inputEkranLogowania {
    height: 3vh;
    width: 30vh;
    margin: 0.5vh;
    background-color: #1f0510 ;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    font-size: 1.5vh;
}
.inputEkranLogowania::placeholder {
    color: var(--kolorTekstu);
}
.buttonEkranLogowania {
    height: 3vh;
    width: 15vh;
    margin: 0.5vh;
    background-color: #1f0510    ;
    border: solid;
    border-color: var(--kolorBorderow);
    border-radius: 1.5vh;
    color: var(--kolorTekstu);
    font-size: 1.5vh;
}

.buttonEkranLogowaniaTransparent{
    position: relative;
    background-color: transparent;
    bottom: 0%;
    border:none;
    color:var(--kolorTekstu);
    margin: 2vh;
    font-size: 1.3vh;
}

.buttonEkranLogowaniaTransparent:hover, .buttonEkranLogowania:hover{
    color: var(--kolorTekstu);
}



#pasekBoczny{
    height: 100vh;
    width: 30vw;
    border-right: 5px solid black;
}

#czat{
    height: 100vh;
    width: 100vw;
    border-left: 5px solid black;
}
#wiadomosci{
    height: 85vh;
    width: 100%;
}

#daneZdjecieUstawienia{
    height: 10vh;
    width: 100%;
}

#wiadomoscPisana{
    height: 5vh;
    width: 100%;
}

.przyciskiPomociczePrzyLogowaniu{
    margin-top: auto;
}

.polaZLabelami{
    display: flex;
    flex-direction: column;
}
.labelPrzyLogowaniu{
    translate: 1vh;
    color: var(--kolorTekstu);
    font-family: 'Segoe UI';
    font-size: 1.7vh;
}
/*
#ekran_główny{
    display: flex;
    justify-content: center;
    border: 30px solid black;
    margin: 10px;
    width: 96vw;
    height: 93vh;
}
#lista_ludzi{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    height: 92vh;
    width: 23vw;
}
    */